:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: #3d3d3d;
  background-color: #6b7a52;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 1240px;
  margin: 5vh auto; /* auto left/right centers it */
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 8px;
}
